<!-- begin areto pay -->
<div class="section areto" style="background-image: url('img/sub_head_bg.svg')">
    <div class="container">
        <div class="areto__block areto-block">
            <div class="areto-block__img">
                <img src="img/aretopay_img.png" alt="areto">
            </div>
            <div class="areto-block__title">
                <h1 class="title">areto.pay </br><b>online payment gateway</b></h1>
            </div>
        </div>
    </div>
</div>
<!-- end areto pay -->
<!-- begin areto list -->
<div class="section areto-list">
    <div class="container">
        <div class="areto-list__block aretolist-block">
            <div class="aretolist-block__left aretolist__left">
                <ul>
                    <li><p>Seamless integration with several payment service providers their respective card processing software;</p></li>
                    <li><p>Several shopping cart plugins, including Magento and WooCommerce;</p></li>
                    <li><p>Transaction and summary reporting;</p></li>
                    <li><p>QuickPay hosted payment pages;</p></li>
                    <li><p>Processor routing configuration rules;</p></li>
                    <li><p>PCI compliant;</p></li>
                    <li><p>API accessibility for more complex integrations;</p></li>
                </ul>
            </div>
            <div class="aretolist-block__right aretolist__right">
                <p><b>Integrated with several payment service providers.</b></p>
                <p>This creates a high value platform able to accommodate virtually any new or existing online business allowing merchants to benefit from a simple and complete technical integration.</p>
                <p>One simple integration connects your online business withseveral top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                <a class="paym-i-text__btn btn-green" href="#">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sign up
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end areto list -->
<!-- begin areto features -->
<div class="section areto-features" style="background-image: url('img/payment_bg.svg')">
    <div class="container">
        <div class="areto-features__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">Features</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
        <div class="areto-features__block why-block__items why-items">
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_3">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_credit.png" alt="credit">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        100+ currencies
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_3">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_payment.png" alt="payment">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        multi currency payouts
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_3">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_hosted.png" alt="hosted">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        recurrent billing
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_3">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_shopping.png" alt="shopping">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        3D Secure
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_3">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_hosted.png" alt="hosted">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        PCI compliant
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_3">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_shopping.png" alt="shopping">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        Shopping Cart plugins
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <a class="paym-i-text__btn btn-green" href="#">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sign up
            </a>
        </div>
    </div>
</div>
<!-- end areto features -->
<!-- begin credit card block -->
<div class="section credit-block">
    <div class="container">
        <div class="credit-block__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">Card Brands Supported</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
    </div>
    <div class="credit-block__slider credit-slider">
        <div class="swiper-container s2">
            <div class="swiper-wrapper">
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_visa.png" alt="visa">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_mastercard.png" alt="mastercard">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_jcb.png" alt="jcb">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_diners.png" alt="diners">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_discover.png" alt="discover">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_amex.png" alt="amex">
                    </div>
                </div>
                <!-- end slider-->
            </div>
        </div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z" fill="#c6cdd2"/></svg>
        </div>
        <div class="swiper-button-next swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z" fill="#c6cdd2"/></svg>
        </div>
    </div>
</div>
<!-- end credit card block -->
<!-- begin pricing -->
<div class="section pricing-block" style="background-image: url('img/pricing_bg.svg')">
    <div class="container">
        <div class="pricing-block__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">Pricing</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
        <div class="pricing-block__box pricing-box">
            <!-- begin pricing item -->
            <div class="pricing-box__item pricing-item">
                <div class="pricing-item__title">
                    <h4 class="title">Low risk EU traffic</h4>
                </div>
                <div class="pricing-item__price">
                    <h5 class="title">from 1.75%</h5>
                </div>
                <ul class="pricing-item__list">
                    <li>€ 0.12 per transaction</li>
                    <li>Visa, MasterCard, Amex, JCB and Diners Club</li>
                    <li>Payment processing in all major currencies</li>
                    <li>Weekly settlements</li>
                </ul>
                <div class="pricing-item__subtext">
                    <p> Contact sales for further information</p>
                    <a class="paym-i-text__btn btn-green" href="#">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sign up
                    </a>
                </div>
            </div>
            <!-- end pricing item -->
            <!-- begin pricing item -->
            <div class="pricing-box__item pricing-item">
                <div class="pricing-item__title">
                    <h4 class="title">Low risk EU traffic</h4>
                </div>
                <div class="pricing-item__price">
                    <h5 class="title">from 1.75%</h5>
                </div>
                <ul class="pricing-item__list">
                    <li>€ 0.12 per transaction</li>
                    <li>Visa, MasterCard, Amex, JCB and Diners Club</li>
                    <li>Payment processing in all major currencies</li>
                    <li>Weekly settlements</li>
                </ul>
                <div class="pricing-item__subtext">
                    <p> Contact sales for further information</p>
                    <a class="paym-i-text__btn btn-green" href="#">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sign up
                    </a>
                </div>
            </div>
            <!-- end pricing item -->
            <!-- begin pricing item -->
            <div class="pricing-box__item pricing-item">
                <div class="pricing-item__title">
                    <h4 class="title">Low risk EU traffic</h4>
                </div>
                <div class="pricing-item__price">
                    <h5 class="title">from 1.75%</h5>
                </div>
                <ul class="pricing-item__list">
                    <li>€ 0.12 per transaction</li>
                    <li>Visa, MasterCard, Amex, JCB and Diners Club</li>
                    <li>Payment processing in all major currencies</li>
                    <li>Weekly settlements</li>
                </ul>
                <div class="pricing-item__subtext">
                    <p> Contact sales for further information</p>
                    <a class="paym-i-text__btn btn-green" href="#">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sign up
                    </a>
                </div>
            </div>
            <!-- end pricing item -->
            <!-- begin pricing item -->
            <div class="pricing-box__item pricing-item">
                <div class="pricing-item__title">
                    <h4 class="title">Low risk EU traffic</h4>
                </div>
                <div class="pricing-item__price">
                    <h5 class="title">from 1.75%</h5>
                </div>
                <ul class="pricing-item__list">
                    <li>€ 0.12 per transaction</li>
                    <li>Visa, MasterCard, Amex, JCB and Diners Club</li>
                    <li>Payment processing in all major currencies</li>
                    <li>Weekly settlements</li>
                </ul>
                <div class="pricing-item__subtext">
                    <p> Contact sales for further information</p>
                    <a class="paym-i-text__btn btn-green" href="#">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sign up
                    </a>
                </div>
            </div>
            <!-- end pricing item -->
        </div>
    </div>
</div>
<!-- end pricing -->