<!-- begin aretonet -->
<div class="section areto aretonet" style="background-image: url('img/sub_head_bg.svg')">
    <div class="container">
        <div class="areto__block areto-block aretonet-block">
            <div class="areto-block__img">
                <img src="img/aretonet_img.png" alt="areto">
            </div>
            <div class="areto-block__title aretonet-block__title">
                <h1 class="title">areto.net </br><b>keep your business close but your customer closer</b></h1>
                <a class="mark-bl-desc__btn btn-orange" href="#">Read more</a>
            </div>
        </div>
    </div>
</div>
<!-- end aretonet -->
<!-- begin aretonet about -->
<div class="section areto-about">
    <div class="container">
        <div class="areto-about__block areto-ab-bl">
            <div class="areto-ab-bl__what areto-what">
                <div class="areto-what__icon">
                    <img src="img/icon_whatis_areto.png" alt="areto what is">
                </div>
                <div class="areto-what__text">
                    <h3 class="title">What is AretoNet?</h3>
                    <p>This creates a high value platform able to accommodate virtually any new or existing online business allowing merchants to benefit from a simple and complete technical integration.</p>
                    <p>One simple integration connects your online business withseveral top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <div class="areto-ab-bl__how areto-how">
                <div class="areto-how__icon">
                    <img src="img/icon_how_areto.png" alt="areto how">
                </div>
                <div class="areto-how__text">
                    <h3 class="title">How does it work?</h3>
                    <p>This creates a high value platform able to accommodate virtually any new or existing online business allowing merchants to benefit from a simple and complete technical integration.</p>
                    <p>One simple integration connects your online business withseveral top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end aretonet about -->
<!-- begin free block -->
<div class="section areto-sm" style="background-image: url('img/bg_small_blue.png')">
    <div class="container">
        <div class="areto-sm__block areto-sm-block">
            <div class="areto-sm-block__title">
                <h2 class="title">Free when signing up to <b>areto.pay</b></h2>
            </div>
            <a class="paym-i-text__btn btn-green" href="#">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sign up for free!
            </a>
        </div>
    </div>
</div>
<!-- end free block -->
<!-- begin aretopay features -->
<div class="section areto-features aretonet-features" style="background-image: url('img/features_2_bg.svg')">
    <div class="container">
        <div class="areto-features__block why-block__items why-items">
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_4">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_credit.png" alt="credit">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        unlimited campaigns
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_4">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_payment.png" alt="payment">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        Triggers
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_4">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_hosted.png" alt="hosted">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        custom templates
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_4">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_shopping.png" alt="shopping">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        personalized emails
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_4">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_hosted.png" alt="hosted">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        campaign tracking
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_4">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_shopping.png" alt="shopping">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        email tracking
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <div class="why-items__bl why-bl features_block features_block_4">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_hosted.png" alt="hosted">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        events
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl features_block features_block_4">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_shopping.png" alt="shopping">
                </div>
                <div class="why-bl__title features_block__title">
                    <h3 class="title">
                        email delivery
                    </h3>
                </div>
                <div class="why-bl__desc features_block__desc">
                    <p>One simple integration connects your online business with several top electronic wallets in the industry and also to a vast prime network of online credit card processing service providers.</p>
                </div>
            </div>
            <!-- end why item -->
        </div>
    </div>
</div>
<!-- end aretopay features -->
<!-- begin free block -->
<div class="section areto-sm areto-pdf" style="background-image: url('img/bg_small_blue.png')">
    <div class="container">
        <div class="areto-sm__block areto-sm-block pdf-block">
            <div class="areto-sm-block__title">
                <h2 class="title">download pur product fact sheet</h2>
            </div>
            <a class="mark-bl-desc__btn btn-orange btn-pdf" href="#">
                Promo pdf
            </a>
        </div>
    </div>
</div>
<!-- end free block -->
<!-- begin credit card block -->
<div id="shopping-block" class="section shopping-block aretonet-card"  style="background-image: url('img/features_2_bg.svg')">
    <div class="container">
        <div class="shopping-block__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">Credit Card Processing with Shopping Carts</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
    </div>
    <div class="shopping-block__slider shopping-slider">
        <div class="swiper-container s3">
            <div class="swiper-wrapper">
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_magento.png" alt="magento1x">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_magento.png" alt="magento2x">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_woocommerce.png" alt="woocommerce">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_wordpress.png" alt="wordpress">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_virtue.png" alt="virtue">
                    </div>
                </div>
                <!-- end slider-->
            </div>
        </div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z" fill="#c6cdd2"/></svg>
        </div>
        <div class="swiper-button-next swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z" fill="#c6cdd2"/></svg>
        </div>
    </div>
</div>
<!-- end credit card block -->