<!-- begin footer -->
<div id="footer" class="footer" style="background-image: url('img/footer_bg.svg')">
    <div class="container">
        <div class="footer__block ftr-bl">
            <div class="ftr-bl__info ftr-info">
                <div class="ftr-info__socials ftr-soc">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </div>
                <div class="ftr-info__address ftr-address">
                    <p><b>Our Office:</b></p>
                    <p>Abacus Business Centre, Level 1, Dun Karm Street, B’kara, Malta</p>
                </div>
                <div class="ftr-info__phone ftr-phone">
                    <p><b>Phone:</b></p>
                    <p>(+44) 02030268339</p>
                </div>
                <div class="ftr-info__copyright ftr-copyright">
                    <p>© 2017 aerto systems</p>
                </div>
            </div>
            <div class="ftr-bl__nav ftr-nav">
                <!--  begin footer nav -->
                <div class="ftr-nav__block ftr-nav-bl">
                    <h5 class="ftr-nav-bl__title"><a href="#">Careers</a></h5>
                    <ul class="menu">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Cookie Policy</a></li>
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <!-- end footer nav -->
                <!--  begin footer nav -->
                <div class="ftr-nav__block ftr-nav-bl">
                    <h5 class="ftr-nav-bl__title"><a href="#">Plugins</a></h5>
                    <ul class="menu">
                        <li><a href="#">Magento 1.x</a></li>
                        <li><a href="#">Magento 2.x</a></li>
                        <li><a href="#">WooCommerce</a></li>
                    </ul>
                </div>
                <!-- end footer nav -->
                <!--  begin footer nav -->
                <div class="ftr-nav__block ftr-nav-bl">
                    <h5 class="ftr-nav-bl__title"><a href="#"></a></h5>
                    <ul class="menu">
                        <li><a href="#">Wordpress</a></li>
                        <li><a href="#">Virtuemart</a></li>
                        <li><a href="#">PrestaShop</a></li>
                    </ul>
                </div>
                <!-- end footer nav -->
                <!--  begin footer nav -->
                <div class="ftr-nav__block ftr-nav-bl">
                    <h5 class="ftr-nav-bl__title"><a href="#"></a></h5>
                    <ul class="menu">
                        <li><a href="#">OpenCart</a></li>
                        <li><a href="#">Zen Cart</a></li>
                        <li><a href="#">OsCommerce</a></li>
                    </ul>
                </div>
                <!-- end footer nav -->
            </div>
        </div>
    </div>
</div>
<!-- end footer -->


