<!-- begin header -->
<div id="header" class="header">
    <div class="container">
        <div class="header-scroll">
            <div class="mid">
                <div class="header__top hdr-top show-desc">
                    <div class="hdr-top__logo logo">
                        <img class="show-desc" src="img/areto_logo.png" alt="logo">
                        <img class="show-tab" src="img/logo_mobile.png" alt="logo">
                    </div>
                    <div class="hdr-top__nav nav">
                        <div class="nav__main">
                            <ul class="hidden-mobile menu">
                                <li><a href="#">Client login</a></li>
                                <li><a href="#">Partner login</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Agents</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                            <ul class="show-mobile menu">
                                <li><a href="#">Solutions</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                            <div class="show-desc hdr-top__lang lang">
                                <ul class="languagepicker large">
                                    <a href="#nl"><li><img src="img/icon_eng.png"/>Eng</li></a>
                                    <a href="#en"><li><img src="img/icon_fr.png"/>Fr</li></a>
                                    <a href="#de"><li><img src="img/icon_it.png"/>It</li></a>
                                    <a href="#fr"><li><img src="img/icon_sp.png"/>Sp</li></a>
                                    <a href="#es"><li><img src="img/icon_gre.png"/>Ger</li></a>
                                    <a href="#it"><li><img src="img/icon_gr.png"/>Gr</li></a>
                                    <a href="#it"><li><img src="img/icon_sl.png"/>Sl</li></a>
                                    <a href="#it"><li><img src="img/icon_cz.png"/>Cz</li></a>
                                </ul>
                            </div>
                        </div>
                        <div class="nav__sub nav-sub">
                            <div class="nav-sub__nav nav" >
                                <ul class="menu">
                                    <li>
                                        <a href="#">Products</a>
                                        <ul class="sub-menu">
                                            <li><a href="#">By Business Type</a></li>
                                            <li><a href="#">Software Companies</a></li>
                                            <li><a href="#">SaaS</a></li>
                                            <li><a href="#">Online Services</a></li>
                                            <li><a href="#">Startups</a></li>
                                            <li><a href="#">Affiliates</a></li>
                                        </ul>
                                        <ul class="sub-menu">
                                            <li><a href="#">By Technology Type</a></li>
                                            <li><a href="#">eCommerce Manager</a></li>
                                            <li><a href="#">Subscription Billing</a></li>
                                            <li><a href="#">Channel Manager</a></li>
                                            <li><a href="#">Affiliate Network</a></li>
                                            <li><a href="#">Global Payments</a></li>
                                            <li><a href="#">Technology</a></li>
                                            <li><a href="#">Services</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Solutions</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Blog</a></li>
                                </ul>
                            </div>
                            <a class="nav-sub__btn btn-green" href="#">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Sign in
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header__top hdr-top show-mob">
                    <div class="hdr-top__nav nav">
                        <div class="nav__main">
                            <ul class="show-mobile menu">
                                <li><a href="#">Solutions</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                            <a class="nav-sub__btn btn-green" href="#">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                Sign in
                            </a>
                        </div>
                    </div>
                    <div class="mobile-menu">
                        <div class="mobile-menu__bl">
                            <div class="hdr-top__logo logo">
                                <img src="img/areto_logo.png" alt="logo">
                            </div>
                            <div id="hamburger-icon" class="toggle-nav">
                                <span class="line line-1"></span>
                                <span class="line line-2"></span>
                                <span class="line line-3"></span>
                            </div>
                        </div>
                        <nav class="mobile-nav">
                            <ul>
                                <li class="menu-item-has-children">
                                    <a href="#">Products</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">By Business Type</a></li>
                                        <li><a href="#">Software Companies</a></li>
                                        <li><a href="#">SaaS</a></li>
                                        <li><a href="#">Online Services</a></li>
                                        <li><a href="#">Startups</a></li>
                                        <li><a href="#">Affiliates</a></li>
                                    </ul>
                                    <ul class="sub-menu">
                                        <li><a href="#">By Technology Type</a></li>
                                        <li><a href="#">eCommerce Manager</a></li>
                                        <li><a href="#">Subscription Billing</a></li>
                                        <li><a href="#">Channel Manager</a></li>
                                        <li><a href="#">Affiliate Network</a></li>
                                        <li><a href="#">Global Payments</a></li>
                                        <li><a href="#">Technology</a></li>
                                        <li><a href="#">Services</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Solutions</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">By Business Type</a></li>
                                        <li><a href="#">Software Companies</a></li>
                                        <li><a href="#">SaaS</a></li>
                                        <li><a href="#">Online Services</a></li>
                                        <li><a href="#">Startups</a></li>
                                        <li><a href="#">Affiliates</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>


                        </nav>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end header -->