<div class="header__slider hdr-slider" style="background-image: url('img/header_bg.svg')">
    <div class="swiper-container s1">
        <div class="swiper-wrapper">
            <!-- begin slider-->
            <div class="swiper-slide hdr-slider-item">
                <div class="hdr-slider-item__img">
                    <img src="img/slider_img.png" alt="slider">
                </div>
                <div class="slider-item__content slider-content">
                    <div class="slider-content__title">
                        <h1 class="title">Credit card <b>Processing!</b></h1>
                    </div>
                    <div class="slider-content__desc">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                    </div>
                    <a class="slider-content__btn btn-orange" href="#">Read more</a>
                </div>
            </div>
            <!-- end slider-->
            <!-- begin slider-->
            <div class="swiper-slide hdr-slider-item">
                <div class="hdr-slider-item__img">
                    <img src="img/slider_img_2.png" alt="slider">
                </div>
                <div class="slider-item__content slider-content">
                    <div class="slider-content__title">
                        <h1 class="title">Payment gateway <b>is a Premium quality work!</b></h1>
                    </div>
                    <div class="slider-content__desc">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                    </div>
                    <a class="slider-content__btn btn-orange" href="#">Read more</a>
                </div>
            </div>
            <!-- end slider-->
            <!-- begin slider-->
            <div class="swiper-slide hdr-slider-item">
                <div class="hdr-slider-item__img">
                    <img src="img/slider_img_3.png" alt="slider">
                </div>
                <div class="slider-item__content slider-content">
                    <div class="slider-content__title">
                        <h1 class="title">Marketing solutions <b>For ecommerce!</b></h1>
                    </div>
                    <div class="slider-content__desc">
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system.</p>
                    </div>
                    <a class="slider-content__btn btn-orange" href="#">Read more</a>
                </div>
            </div>
            <!-- end slider-->
        </div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
</div>
<div class="header__services hdr-serv">
    <div class="container">
        <div class="hdr-serv__bl h-serv-bl">
            <!-- begin service item -->
            <a href="/">
                <div class="h-serv-bl__item serv-bl-item bg-white">
                    <div class="serv-bl-item__img">
                        <img src="img/icon_payment.png" alt="payment">
                    </div>
                    <div class="serv-bl-item__title">
                        <h2 class="title">
                            Payment </br>gateway
                        </h2>
                    </div>
                </div>
            </a>
            <!-- end service item -->
            <!-- begin service item -->
            <a href="/">
                <div class="h-serv-bl__item serv-bl-item bg-white">
                    <div class="serv-bl-item__img">
                        <img src="img/icon_credit.png" alt="credit">
                    </div>
                    <div class="serv-bl-item__title">
                        <h2 class="title">
                            Credit card </br>processing
                        </h2>
                    </div>
                </div>
            </a>
            <!-- end service item -->
            <!-- begin service item -->
            <a href="/">
                <div class="h-serv-bl__item serv-bl-item bg-white">
                    <div class="serv-bl-item__img">
                        <img src="img/icon_marketing.png" alt="marketing">
                    </div>
                    <div class="serv-bl-item__title">
                        <h2 class="title">
                            Marketing Solutions </br>for eCommerce
                        </h2>
                    </div>
                </div>
            </a>
            <!-- end service item -->
        </div>
    </div>
</div>

<!-- begin why home block -->
<div id="why-block" class="section why-block">
    <div class="container">
        <div class="why-block__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">Why choose us?</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
    </div>
    <div class="container">
        <div class="why-block__items why-items show-desc">
            <!-- begin why item -->
            <div class="why-items__bl why-bl">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_credit.png" alt="credit">
                </div>
                <div class="why-bl__title">
                    <h3 class="title">
                        Credit Card Processing &  Merchant Account Services
                    </h3>
                </div>
                <div class="why-bl__desc">
                    <p>We provide merchant account services and credit card processing solutions to all merchants. Rates start at 1.75%</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_payment.png" alt="payment">
                </div>
                <div class="why-bl__title">
                    <h3 class="title">
                        Payment </br>Gateway Services
                    </h3>
                </div>
                <div class="why-bl__desc">
                    <p>Access to a PCI payment gateway, including full sales reporting, summaries and more!</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_hosted.png" alt="hosted">
                </div>
                <div class="why-bl__title">
                    <h3 class="title">
                        Hosted </br>Payment Page
                    </h3>
                </div>
                <div class="why-bl__desc">
                    <p>Free access to QuickPay, a PCI payment page that requires very little effort to plug into your website.</p>
                </div>
            </div>
            <!-- end why item -->
            <!-- begin why item -->
            <div class="why-items__bl why-bl">
                <div class="why-bl__img bg-blue">
                    <img src="img/icon_why_shopping.png" alt="shopping">
                </div>
                <div class="why-bl__title">
                    <h3 class="title">
                        Shopping </br>Cart Ready
                    </h3>
                </div>
                <div class="why-bl__desc">
                    <p>A variety of shopping cart plugins available. Integration with AretoPay payment gateway takes just a minute!</p>
                </div>
            </div>
            <!-- end why item -->
        </div>
    </div>
    <div class="why-block__items why-items show-mobile">
        <div class="swiper-container s5">
            <div class="swiper-wrapper">
                <!-- begin why item -->
                <div class="swiper-slide why-items__bl why-bl">
                    <div class="why-bl__img bg-blue">
                        <img src="img/icon_why_credit.png" alt="credit">
                    </div>
                    <div class="why-bl__title">
                        <h3 class="title">
                            Credit Card Processing &  Merchant Account Services
                        </h3>
                    </div>
                    <div class="why-bl__desc">
                        <p>We provide merchant account services and credit card processing solutions to all merchants. Rates start at 1.75%</p>
                    </div>
                </div>
                <!-- end why item -->
                <!-- begin why item -->
                <div class="swiper-slide why-items__bl why-bl">
                    <div class="why-bl__img bg-blue">
                        <img src="img/icon_why_payment.png" alt="payment">
                    </div>
                    <div class="why-bl__title">
                        <h3 class="title">
                            Payment </br>Gateway Services
                        </h3>
                    </div>
                    <div class="why-bl__desc">
                        <p>Access to a PCI payment gateway, including full sales reporting, summaries and more!</p>
                    </div>
                </div>
                <!-- end why item -->
                <!-- begin why item -->
                <div class="swiper-slide why-items__bl why-bl">
                    <div class="why-bl__img bg-blue">
                        <img src="img/icon_why_hosted.png" alt="hosted">
                    </div>
                    <div class="why-bl__title">
                        <h3 class="title">
                            Hosted </br>Payment Page
                        </h3>
                    </div>
                    <div class="why-bl__desc">
                        <p>Free access to QuickPay, a PCI payment page that requires very little effort to plug into your website.</p>
                    </div>
                </div>
                <!-- end why item -->
                <!-- begin why item -->
                <div class="swiper-slide why-items__bl why-bl">
                    <div class="why-bl__img bg-blue">
                        <img src="img/icon_why_shopping.png" alt="shopping">
                    </div>
                    <div class="why-bl__title">
                        <h3 class="title">
                            Shopping </br>Cart Ready
                        </h3>
                    </div>
                    <div class="why-bl__desc">
                        <p>A variety of shopping cart plugins available. Integration with AretoPay payment gateway takes just a minute!</p>
                    </div>
                </div>
                <!-- end why item -->
            </div>
        </div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z" fill="#c6cdd2"/></svg>
        </div>
        <div class="swiper-button-next swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z" fill="#c6cdd2"/></svg>
        </div>
    </div>
</div>
<!-- end why home block -->
<!-- begin payment block -->
<div id="payment-block" class="section payment-block" style="background-image: url('img/payment_bg.svg')">
    <div class="container">
        <div class="payment-block__items payment-items">
            <div class="payment-items__left paym-i-title">
                <h3 class="title">
                    Online Payments & <b>Ecommerce solutions</b>
                </h3>
            </div>
            <div class="payment-items__right paym-i-text">
                <p>Areto Systems helps businesses of all sizes, from small to large enterprise, accept, process, and split payments to help maximize business opportunities and revenue growth.</p>
                <p>Companies around the world benefit from the technology and support of Braintree coupled with the scale, backing, and confidence of partnering with a PayPal service.</p>
                <a class="paym-i-text__btn btn-green" href="#">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Sign up
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end payment block -->
<!-- begin credit card block -->
<div id="credit-block" class="section credit-block">
    <div class="container">
        <div class="credit-block__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">Credit card processing</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
    </div>
    <div class="credit-block__slider credit-slider">
        <div class="swiper-container s2">
            <div class="swiper-wrapper">
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_visa.png" alt="visa">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_mastercard.png" alt="mastercard">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_jcb.png" alt="jcb">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_diners.png" alt="diners">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_discover.png" alt="discover">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide credit-slider-item">
                    <div class="credit-slider-item__img bg-white">
                        <img src="img/logo_amex.png" alt="amex">
                    </div>
                </div>
                <!-- end slider-->
            </div>
        </div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z" fill="#c6cdd2"/></svg>
        </div>
        <div class="swiper-button-next swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z" fill="#c6cdd2"/></svg>
        </div>
    </div>
    <div class="credit-block__desc credit-desc">
        <div class="container">
            <div class="credit-desc__block cr-desc-bl">
                <div class="cr-desc-bl__img">
                    <img src="img/photo_man.png" alt="man">
                </div>
                <div class="cr-desc-bl__text">
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursuepleasure rationally encounter</p>
                    <a class="cr-desc-bl__btn btn-orange" href="#">
                        Read more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end credit card block -->
<!-- begin marketing block -->
<div id="marketing-block" class="section mark-block" style="background-image: url('img/marceting_bg.svg')">
    <div class="container">
        <div class="mark-block__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">Marketing Solutons for eCommerce</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
        <div class="mark-block__desc mark-bl-desc">
            <div class="mark-bl-desc__text">
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursuepleasure rationally encounter</p>
                <a class="mark-bl-desc__btn btn-orange" href="#">
                    Read more
                </a>
            </div>
            <div class="mark-bl-desc__img">
                <img src="img/marketing_img.png" alt="marketing">
            </div>
        </div>
    </div>
</div>
<!-- end marketing block -->
<!-- begin credit card block -->
<div id="shopping-block" class="section shopping-block" style="background-image: url('img/shopping_bg.svg')">
    <div class="container">
        <div class="shopping-block__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">Credit card processing</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
    </div>
    <div class="shopping-block__slider shopping-slider">
        <div class="swiper-container s3">
            <div class="swiper-wrapper">
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_magento.png" alt="magento1x">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_magento.png" alt="magento2x">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_woocommerce.png" alt="woocommerce">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_wordpress.png" alt="wordpress">
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide shopping-slider-item">
                    <div class="shopping-slider-item__img bg-white">
                        <img src="img/logo_virtue.png" alt="virtue">
                    </div>
                </div>
                <!-- end slider-->
            </div>
        </div>
        <!-- Add Navigation -->
        <div class="swiper-button-prev swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z" fill="#c6cdd2"/></svg>
        </div>
        <div class="swiper-button-next swiper-button-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z" fill="#c6cdd2"/></svg>
        </div>
    </div>
</div>
<!-- end credit card block -->
<!-- begin testimonials -->
<div id="testimonials-block" class="section testimonials-block">
    <div class="container">
        <div class="testimonials-block__title s-title">
            <h2 class="s-title__bl">
                <span class="title__line-left"></span>
                <span class="title">clients testimonials</span>
                <span class="title__line-right"></span>
            </h2>
        </div>
    </div>
    <div class="testimonials-block__slider t-bl-slider">
        <div class="swiper-container s4">
            <div class="swiper-wrapper">
                <!-- begin slider-->
                <div class="swiper-slide t-bl-slider-item">
                    <div class="t-bl-slider-item__img">
                        <img src="img/testim_avatar.png" alt="avatar">
                    </div>
                    <div class="t-bl-slider-item__text t-slider-text">
                        <div class="t-slider-text__name">
                            <h4 class="title">Helena Fisher</h4>
                        </div>
                        <div class="t-slider-text__desc">
                            <p>Areto Systems helps businesses of all sizes, from small to large enterprise,  Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                </div>
                <!-- end slider-->
                <!-- begin slider-->
                <div class="swiper-slide t-bl-slider-item">
                    <div class="t-bl-slider-item__img">
                        <img src="img/testim_avatar.png" alt="avatar">
                    </div>
                    <div class="t-bl-slider-item__text t-slider-text">
                        <div class="t-slider-text__name">
                            <h4 class="title">Helena Fisher</h4>
                        </div>
                        <div class="t-slider-text__desc">
                            <p>Areto Systems helps businesses of all sizes, from small to large enterprise,  Sed ut perspiciatis undeomnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>
                    </div>
                </div>
                <!-- end slider-->
            </div>
            <!-- Add Navigation -->
            <div class="swiper-button-prev swiper-button-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z" fill="#c6cdd2"/></svg>
            </div>
            <div class="swiper-button-next swiper-button-white">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 44"><path d="M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z" fill="#c6cdd2"/></svg>
            </div>
        </div>
    </div>
</div>
<!-- end testimonials -->